.about-me-container{
    width: 100%;
    display: flex;
    position: absolute;
    top: 30%;
    left: 5%;
}
.image-container {
    width: 30vmin;
    height: 42vmin;
    position: relative;
    display: inline;
    padding: 0.5rem;
    padding-top: 10%;
}
.image-container > .image {
    width: 30vmin;
    height: 42vmin;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-in-out;
}
.about-me-text {
    height: 60vmin;
    position: relative;
    display: inline;
    font-family: 'Tahoma';
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 5%;
    padding-right: 10%;
    overflow: scroll;
}